@font-face {
    font-family: 'FuenteSM3C';
    src: url(./fonts/ElValle.ttf);
}
* {
    font-family: FuenteSM3C;
}
body {
    background-color: #2F006A;
    margin: 0;
}
.plantilla {
    display: grid;
}
.horizontalHeader {
    grid-template-columns: 20% 80%;
}
.horizontal2 {
    grid-template-columns: 50% 50%;
}
.horizontalTarjetaMercado {
    grid-template-columns: 20% 50% 30%;
}
.vertical3 {
    grid-template-rows: 33.33% 33.33% 33.33%;
}
.vertical2 {
    grid-template-rows: 50% 50%;
}

h5, p {
    margin: 0;
}

.centradoAbajo {
    align-items:end;
}
.centradoArriba {
    align-items: start;
}

.margenIzq {
    margin-left: 15px;
}

.centradoVert {
    align-items: center;
}
.centrarTexto {
    text-align: center;
}
.centrarDiv {
    margin-left: auto;
    margin-right: auto;
}
header a {
    text-decoration: none;
}
#divVolver {
    margin-left: 20px;
}
#btnVolver {
    color: white;
}
#titGestionarPlantilla {
    color: white;
}
main {
    margin-bottom: 30px;
}
.letraBlanca {
    color: white;
    margin-left: 30px;
}
.divTituloGestionar {
    font-size: 25px;
    margin-top: 20px;
}
.divSubtituloGestionar {
    font-size: 20px;
    font-style: italic;
    margin-bottom: 5px;
}
h3, h4 {
    margin: 0px;
}
a {
    text-decoration: none;
}
.divTarjetaFichaje {
    width: 85%;
    background: #d9d9d9;
    height: 80px;
    margin-bottom: 10px;
}

.imgTarjetaMercado {
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: drop-shadow(0px 0px 5px black);
}
.divImgTarjetaMercado {
    background: url(./img/fondoImg.png);
    background-size: cover;
    width: 100%;
    overflow: hidden;
}
.nomTarjetaMercado {
    font-size: 15px;
    font-weight: bold;
}
.infoTarjetaMercado {
    font-size: 15px;
}
.valorTarjetaMercado {
    font-size: 15px;
    font-weight: bold;
}
.btnVender {
    padding: 2px 8px 2px 8px;
}
.divBtnVender {
    width: fit-content;
}

footer {
    position: sticky;
    bottom: 0;
    width: 100%;
}
.divDatosPlantilla {
    background-color: aliceblue;
    padding: 10px;
}
.divDatoIzq {
    margin-left: 20px;
    font-size: 20px;
}
.divDatoDcha {
    margin-right: 20px;
    text-align: right;
    font-weight: bold;
    font-size: 25px;
}

.divBtnFichar {
    width: 30%;
    height: 100%;
}
.btnFichar {
    width: 100%;
}